#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .wapp{
  text-align: center;
} */




.searchbox{
  margin-bottom: 25px;
}
.searchbox button{
  margin-top: 15px;
}